//Estilos Home
.home-carousel
	margin-top -72px

.home-notices-box
	margin-top 40px
	
	.notice
		margin-bottom 40px
		padding 0 5%
		
		&-image
			a
				display block
				overflow hidden
				border-radius 250px
		
		&-text
			margin-top 20px
			
			a
				display block
				
				span
					display block
					
					&.title
						text-transform uppercase
						margin-bottom 15px
						height 40px
						overflow hidden
					
					&.description
						max-height 120px
						overflow hidden
	