.navbar-default
	background none
	border none
	margin-bottom 0
	z-index 1
	
	.navbar-brand
		display none
	
	.navbar-nav
		text-align center
		float none
		
		li
			float none
			display inline-block
			text-transform uppercase
			width 186px
			
			a
				background azul
				color blanco
				padding 26px 0
				
			&:first-child
				a
					border-bottom-left-radius 20px
					
			&:last-child
				a
					border-bottom-right-radius 20px
			
			&.active,
			&:hover
				a
					background gris1
					color negro

.navbar-collapse
	padding 0